@charset "UTF-8";

#mais1{display: none;}
#mais2{display: none;}
#mais3{display: none;}
#mais4{display: none;}
#mais5{display: none;}
#mais6{display: none;}
#mais7{display: none;}
#mais8{display: none;}

.btn-custom-azul {
  background-color: #007bff;
  border: none;
  color: white;
}
.btn-custom-azul:hover {
  background-color: #0056b3;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.navbar{
    text-align: start;
}

.vagas {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    color: #333;
}

.vaga {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vaga h2 {
    margin: 0;
    color: #0073e6;
}

.vaga p {
    color: #555;
}

.vaga a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.vaga a:hover {
    background-color: #005bb5;
}
